@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {margin:0;padding:0;}

html, body {
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 10px;
}

.advertisement {
background-color: #fff;
 color: #333;
 height: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.sns{
    height: 60px;
    margin-top: 10px;
}
.sns img {
    float: left;
    margin-right: 15px;
}
.sns-logo img {
  display: block;
  margin: 0 auto;
}
.sns p {
    float: right;
    margin-right: 15px;
    font-family: 'Cafe24Ssurround';
}
.header a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
}
.header h1 {
 margin-top: auto;
 margin: 0;
 }
 .header p {
 margin: 0;
 text-align: center;
 flex-grow: 1;
 font-family: 'Cafe24Ssurround';
 font-size: 30px;
 color: black;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.main .sidebar {   
    background-color: #ffffff; 
    width: 7%;
    padding: 10px;
    margin-right: 10px;
    font-family: 'Cafe24Ssurround';
    font-size: 20px;
    line-height: 50px;
}
.main .sidebar li:hover {   
    background-color:#58FA58;
    color: #ffffff;  
}
.main .sidebar a {
    text-decoration: none;
    color: black;
}

.main .content {
    background-color: #fff;
    flex: 1;
    padding: 10px;
    height: 200px;
}	



     .clearfix{
    clear: both;
  }

/* 스타일을 적용할 폼 영역 */
form {
    margin-bottom: 20px;
  }
  
  /* 제목 레이블 스타일 */
  label[for="title"] {
    font-weight: bold;
  }
  
  /* 제목 입력 필드 스타일 */
  input#title {
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
  }

  input#user {
    width: 10%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  /* 내용 레이블 스타일 */
  label[for="content"] {
    font-weight: bold;
  }
  
  /* 내용 입력 필드 스타일 */
  textarea#content {
    width: 70%;
    height: 500px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  /* 작성 버튼 스타일 */
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* 가로 줄 스타일 */
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  /* 게시글 목록 제목 스타일 */
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* 게시글 목록 스타일 */
  ul#post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul#post-list li {
    margin-bottom: 5px;
  }
  

.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 80px;
}